{% include "header.html" %}
<div class = "container">
<form action = "" method=post enctype=multipart/form-data>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  <fieldset class="form-group">
    <label for="name">Item name</label>
    <input type="text" class="form-control" name="item-name" value="{{item.name}}">
  </fieldset>
  <fieldset class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" name="description" value="{{item.description}}">
  </fieldset>
  <fieldset class="form-group">
    <label for="categorySelect">Category</label>
    <select class="form-control" name="item-category">
    {% for category in categories %}
      {% if category.name == item.category.name %}
        <option selected = "selected">{{category.name}}</option>
      {% else %}
        <option>{{category.name}}</option>
      {% endif %}
    {% endfor %}
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="pictureUpload">Upload a photo</label>
    <input type="file" class="form-control-file" name="item_photo">
    <small class="text-muted">choose a photo to upload with the item.</small>
  </fieldset>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>