{% include "header.html" %}
<div class = "container">
<form method = "post">
  <fieldset class="form-group">
    <label for="name">Item name</label>
    <input type="text" class="form-control" name="item-name" value="{{item.name}}">
  </fieldset>
  <fieldset class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" name="description" value="{{item.description}}">
  </fieldset>
  <fieldset class="form-group">
    <label for="catagorySelect">Catagory</label>
    <select class="form-control" name="item-catagory">
    {% for catagory in catagories %}
      {% if catagory.name == item.catagory.name %}
        <option selected = "selected">{{catagory.name}}</option>
      {% else %}
        <option>{{catagory.name}}</option>
      {% endif %}
    {% endfor %}
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="pictureUpload">Upload a photo</label>
    <input type="file" class="form-control-file" id="item_photo">
    <small class="text-muted">choose a photo to upload with the item.</small>
  </fieldset>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>